<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CookingRecipes</title>
    </head>

    <body>
        <ul>
            <li><a href="http://127.0.0.1:5000/login">Login</a></li>
            <li><a href="http://127.0.0.1:5000/registration">Inscription</a></li>
            <li><a href="http://127.0.0.1:5000/logout">Déconnexion</a></li>
        </ul>
         
        <h1>Create recipe</h1>
        <form action="{{ url_for('cooking_recipes_post') }}" method="post" enctype="multipart/form-data">

            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>

            <label for="description">Description:</label><br>
            <textarea id="description" name="description"></textarea><br>

            <label for="image">Image:</label><br>
            <input type="file" id="image" name="image"  required><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>
