<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CookingRecipes</title>
    </head>
    <body>

    <h1>Login</h1>

    <form method="POST" action="/login">

        <label for="username">Name :</label>
        <input type="username" placeholder="Your username">

        <label for="password">Password :</label>
        <input type="password" placeholder="Your password">

        <button>Login</button>
    </form>

    <!-- If user not exist in database, registration -->
    <a href="http://127.0.0.1:5000/registration" target="_blank">Inscription</a>
        

    </body>
</html>



