<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CookingRecipes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

        <h1>Login</h1>

        <form method="post" action="/login">

            <label for="username">Name :</label>
            <input type="username" name="username" placeholder="Your username">

            <label for="password">Password :</label>
            <input type="password" name="password" placeholder="Your password">
            <p class="error-message">{{ error_message }}</p>

            <button>Login</button>
        </form>

        <!-- If user not exist in database, registration -->
        <a href="http://127.0.0.1:5000/registration">Inscription</a>
        

    </body>
</html>






