<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CookingRecipes</title>
    </head>

    <body>
        <ul>
            <li><a href="http://127.0.0.1:5000/login">Login</a></li>
            <li><a href="http://127.0.0.1:5000/registration">Registration</a></li>
            <li><a href="http://127.0.0.1:5000/logout">Logout</a></li>
            <li><a href="http://127.0.0.1:5000/createRecipe">Create new recipe</a></li>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>

        </ul>
         
        <h1>{{ recipe.name }}</h1>
        <p>Description: {{ recipe.description }}</p>
        <img src="{{ url_for('static', filename='images/' + recipe['image']) }}" alt="Recipe Image">
    </body>
</html>


