<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CookingRecipes</title>
    </head>
    <body>

    <h1>Registration</h1>

    <form method="POST" action="/registration">

        <label for="username">User name :</label>
        <input type="username" placeholder="Your username">

        <label for="password">Password :</label>
        <input type="password" placeholder="Your password">

        <label for="email">Email :</label>
        <input type="email" placeholder="Your email">

        <button>Registration</button>
    </form>
        

    </body>
</html>