<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CookingRecipes</title>
    </head>
    <body>

    <h1>Registration</h1>

    <form method="post" action="{{ url_for('registration_post') }}">

        <label for="username">User name :</label>
        <input type="text" name="username" placeholder="Username">

        <label for="password">Password :</label>
        <input type="password" name="password" placeholder="Your password">

        <label for="email">Email :</label>
        <input type="email" name="email" placeholder="Your email">

        <input type="submit" value="Submit">
    </form>

    </body>
</html>